<h2>Select state of website to load. Newest on top.</h2>
<% for(var index in files) { 
    var file = files[index]; %>
    <div>
        <a href="/admin/editlandingspage?backupfile=<%=file%>"><%=file%></a>
    </div>
<% } %>