<% include ../../admin/functions.ejs %>

<% var meta = data.meta %>
<h2 class="collapse-header"2>
    <a role="button" class="collapse-anchor btn btn-default" data-toggle="collapse" data-parent="" href="#basicinfo" aria-expanded="true" aria-controls="">
        <i class="fa fa-cog"></i> Basis Informatie <i class="fa fa-caret-down" aria-hidden="true"></i>  
    </a>
</h2>
<div id="basicinfo" class="panel-collapse collapse" role="" aria-labelledby="">
    <% 
        formGroup("text", "meta.name", "Naam van de website", meta.name);
        formGroup("text", "meta.author", "Auteur", meta.author);
        formGroup("text", "meta.url", "Url van de website", meta.url);
        formGroup("text", "meta.title", "Titel in google search results", meta.title, "Always use the most important keywords at the start of your title. The maximum size of a title should be 70 characters. Use no more than 10 to 12 words in your title.");
        formGroup("textarea", "meta.description", "Omschrijving in google search results", meta.description);
        selectFromList("meta.robots", "Robots", meta.robots, ["index, follow","noindex, nofollow","index, no follow", "noindex, follow"]);
        formGroup("textarea", "meta.googleAnalytics", "Google Analytics Code", meta.googleAnalytics, "Code inclusief de script tags.");
    %>
    
</div>