<body style="background: #eee;">
<form action="/admin/editjson" method="post">
    <input type="hidden" name="token" value="<%= token %>">
    <input type="hidden" name="filename" value="<%= filename %>">
    <input type="hidden" name="path" value="<%= path %>">
    
    <textarea name = "json" style="width:100%; height: 100%;"><%- JSON.stringify(data, null, 4) %></textarea>
    
    <input type="submit" value="save" style="position: fixed; right: 16px; bottom: 16px; padding: 10px 40px; background: darkgreen;color: white;border-radius: 4px;">
</form>
</body>