<% include ./templates/header.ejs %>

<% include functions.ejs %>
<div class="container-fluid ">
    
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Administration Area</h1>
            <p>Choose your option...</p>
            <hr>
            <br><br>
            <form class="form">
                
                <a class="btn btn-primary btn-lg btn-block" href="/admin/editlandingspage">Edit Landingspage</a>
                
                <a class="btn btn-default btn-lg btn-block" href="/admin/editjson">Edit json file </a>
                
                <a class="btn btn-default btn-lg btn-block" href="/admin">Edit CSS file </a>
                
                <a class="btn btn-default btn-lg btn-block" href="/admin/backupfiles">Restore earlier state of website</a>
                
                <a class="btn btn-default btn-lg btn-block" href="/admin/logout">Logout</a>
                
                
            </form>
            
            <h2>Website has following pages:</h2>
            
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/admin/edit/landingpage">/ <span class="pull-right">landingpage</span></a>
                </li>
            </ul>
            
            <ul class="list-group">
            <% for(var index in pages) {%>
                <li class="list-group-item">
                    <a href="/admin/addpage?pagename=<%=pages[index]%>">
                        /<%=pages[index]%> <span class="pull-right"><%=pages[index].replace("-", " "); %></span>
                    </a>
                </li>
            <% } %>
            </ul>
            
            
        </div>
    </div>
    
    
    
    
</div>
</body>
</html>