<!DOCTYPE html>
<html dir="ltr" lang="nl">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Ben Stuijts 2016" />
    <title>Admin | DarkAge</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/admin/admin.css">
</head>
<body>
    <div class="container">

      <form class="form-signin" method="post" action="/admin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        
        <label for="identificationCode" class="sr-only">Identification Code</label>
        <input type="password" name="identificationCode" id="identificationCode" class="form-control" placeholder="Personal Code" required>
        
        <input type="hidden" value="<%= token %>" name="token">
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <hr>
        <a href="/" class="btn">WEBSITE</a>
      </form>
        
        
    
    </div> <!-- /container -->
</body>
</html>