<% include partials/head %>

<body>

<form method="post" action="/admin/update">
    
<button class="fixed-button btn btn-lg">Save</button>




<% include partials/navigation %>
<% include partials/header %>







<% load('whatdowedo') %>
<% load('whatclientssay') %>
<% load('story') %>
<% load('services') %>

<% include admin/formConfig %>

<div class="container">
    <div class="row">
        <h2>Componenten Framework</h2>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">&#10111; Technical Data</li>
            <li class="list-group-item">&#9866; Website url</li>
            <li class="list-group-item">&#9866; Title</li>
            <li class="list-group-item">&#9866; Description</li>
            <li class="list-group-item">&#9866; Keywords</li>
            <li class="list-group-item">&#9866; Author</li>
            <li class="list-group-item">&#9866; Google Analytics Code</li>
            
            <li class="list-group-item list-group-item-info">&#10112; Above the fold</li>
            <li class="list-group-item">&#9866; Menu</li>
            <li class="list-group-item">&#9866; Picture (1920 x 1200)</li>
            <li class="list-group-item">&#9866; H1 tag</li>
            <li class="list-group-item">&#9866; H2 tag</li>
            <li class="list-group-item">&#9866; Call to action button text</li>
            <li class="list-group-item">&#9866; Call to action button link (affiliate)</li>
            <li class="list-group-item">&#9866; Social Media Buttons -> links</li>
            
            <li class="list-group-item list-group-item-info">&#10113 What do we do?</li>
            
            <li class="list-group-item list-group-item-info">&#10115 What Do Your Past Clients Say About You?</li>
            
            <li class="list-group-item list-group-item-info">&#10116 What Are the Benefits of Your Services?</li>
            
            <li class="list-group-item list-group-item-info">&#10117 Pages (blog snippets)</li>
            
            <li class="list-group-item list-group-item-info">&#10118 FAQs</li>
            
            <li class="list-group-item list-group-item-info">&#10119 Contact</li>
            
            <li class="list-group-item list-group-item-info">&#10120 Footer</li>
            
            
            
        </ul>
    </div>
</div>

<section>
    <div class="container">
        <h2>Zaken ter versterking van de SEO raking van de pagina</h2>
        <h3>Link a brand page to a website</h3>
        <a href="Link a brand page to a website">Link a brand page to a website</a>
        <p class="lead">
            Linking your brand page and website helps you connect with your friends, fans, and customers. It also provides Google with information that helps determine the relevancy of your site to a user query on Google Search.
        </p>
        <p>
            Below are instructions that can only be used to link a brand page to a website. 
            If you don’t have a brand page but you do have a Google My Business listing, you can add 
            your website to your business information by following these steps.
        </p>
        <h4>Webmaster linking</h4>
        <p>
            It’s best to work with your webmaster if you aren’t familiar with editing your website.​
            <br>
            Verify your website in Search Console. The verified webmaster can approve a request to 
            connect your website to your brand page.
        </p>
        <pre>
            Select  >  Google+ Page from the menu at the top left corner of the screen.<br>
            On the "About" tab, click the Link website button next to your website URL.
        </pre>
        <p>
        Don't see the link? Google My Business listings aren't eligible to link to a website. You can add your website to your business information by following these steps.
If we know the webmaster for this website, we’ll give you the option to send a request to the webmaster to approve the link. Requesting approval will reveal your email address to the webmaster.
The verified webmaster can confirm the link in Search Console.
Once the link has been approved, you'll receive an email. You'll also see a checkmark verified checkmark next to your website on the "About" tab of your brand page.
        </p>
    </div>
</section>


<% include partials/contact %>

<% include partials/footer %>

</form>

<% include partials/scripts %>    
</body>
</html>

<% function load(component) {
    if(locals[component].active == true) {
        component = 'partials/' + component;
        %>
        <%- include(component) %>
        <%
    }    
}%>