<% include partials/head %>

<body>

<form method="post" action="/admin/update">
    
<button class="fixed-button btn btn-lg">Save</button>




<% include partials/navigation %>
<% include partials/header %>







<% load('whatdowedo') %>
<% load('whatclientssay') %>
<% load('story') %>
<% load('services') %>

<% include admin/formConfig %>

<div class="container">
    <div class="row">
        <h2>Componenten Framework</h2>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">&#10111; Technical Data</li>
            <li class="list-group-item">&#9866; Website url</li>
            <li class="list-group-item">&#9866; Title</li>
            <li class="list-group-item">&#9866; Description</li>
            <li class="list-group-item">&#9866; Keywords</li>
            <li class="list-group-item">&#9866; Author</li>
            <li class="list-group-item">&#9866; Google Analytics Code</li>
            
            <li class="list-group-item list-group-item-info">&#10112; Above the fold</li>
            <li class="list-group-item">&#9866; Menu</li>
            <li class="list-group-item">&#9866; Picture (1920 x 1200)</li>
            <li class="list-group-item">&#9866; H1 tag</li>
            <li class="list-group-item">&#9866; H2 tag</li>
            <li class="list-group-item">&#9866; Call to action button text</li>
            <li class="list-group-item">&#9866; Call to action button link (affiliate)</li>
            <li class="list-group-item">&#9866; Social Media Buttons -> links</li>
            
            <li class="list-group-item list-group-item-info">&#10113 What do we do?</li>
            
            <li class="list-group-item list-group-item-info">&#10115 What Do Your Past Clients Say About You?</li>
            
            <li class="list-group-item list-group-item-info">&#10116 What Are the Benefits of Your Services?</li>
            
            <li class="list-group-item list-group-item-info">&#10117 Pages (blog snippets)</li>
            
            <li class="list-group-item list-group-item-info">&#10118 FAQs</li>
            
            <li class="list-group-item list-group-item-info">&#10119 Contact</li>
            
            <li class="list-group-item list-group-item-info">&#10120 Footer</li>
            
            
            
        </ul>
    </div>
</div>



<% include partials/contact %>


</form>

<% include partials/scripts %>    
</body>
</html>

<% function load(component) {
    if(locals[component].active == true) {
        component = 'partials/' + component;
        %>
        <%- include(component) %>
        <%
    }    
}%>