<% include partials/head %>

<body>

<% include partials/navigation %>
<% include partials/header %>
<% include partials/services %>
<% include partials/contact %>
<% include partials/scripts %>    
</body>
