<% var quickselect = data.quickselect; %>

<section id="quick-select" class="quick-select">
    <div class="container">
        <div class="row">
            <div class="flex-container">

        <% for(var index in quickselect.links) { %>
            <% var link = quickselect.links[index]; %>
            
            <a href="<%= link.href %>" class="deal-container">
                <img class="img-responsive" src="<%= link.image %>">
                <h4><%= link.anchortext %></h4>
            </a>
            
            
            
        <% } %>  
                             

                
            </div>
        </div>
    </div>
</section>