<div id="three-deals"></div>
<section class="three-deals">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Three Deals</h2>
                <hr class="intro-divider">
                
                
                
                <div class="flex-container">
                    
                    
                    <a href="/404" class="deal-container">
                        <h3>Header deal 1</h3>
                        <img class="img-responsive" src="http://www.hutterites.org/wp-content/uploads/2012/03/placeholder.jpg">
                        <div class="deal-price">
                            € 10,-
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">zoveel van x</li>
                            <li class="list-group-item">zoveel van y</li>
                        </ul>
                    </a>
                    
                    <a href="/404" class="deal-container">
                        <h3>Header deal 2</h3>
                        <img class="img-responsive" src="http://www.hutterites.org/wp-content/uploads/2012/03/placeholder.jpg">
                        <div class="deal-price">
                            € 20,-
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">zoveel van x</li>
                            <li class="list-group-item">zoveel van y</li>
                            <li class="list-group-item">plus: voordeel</li>
                        </ul>

                    </a>
                    <a href="/deal3" class="deal-container">
                        <h3>Header deal 3</h3>
                        <img class="img-responsive" src="http://www.hutterites.org/wp-content/uploads/2012/03/placeholder.jpg">
                        <div class="deal-price">
                            € 10,-
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">zoveel van x</li>
                            <li class="list-group-item">zoveel van y</li>
                        </ul>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
    
</section>

