<section class="three-deals">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Three Deals</h2>
                <hr class="intro-divider">
                <div class="row">
                    <div class="col-sm-4">
                        <div class='square-box'>
                            content
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a href="" class="col-sm-4 deal">
                        <span class="price img-circle">
                            € 10
                        </span>
                        <h3>Header</h3>
                        <img class="img-responsive" src="http://www.hutterites.org/wp-content/uploads/2012/03/placeholder.jpg">
                        
                        <p>short description</p>
                    </a>
                    <a href="" class="col-sm-4 deal">
                        <h3>Header</h3>
                        <img class="img-responsive" src="http://www.mindbody.co.il/wp-content/uploads/2015/07/pojo-placeholder-1024x768.png">
                        <span class="price img-circle">
                            € 10
                        </span>
                        <p>short description</p>
                    </a>
                    <a href="" class="col-sm-4 deal">
                        <h3>Header</h3>
                        <img class="img-responsive" src="http://import.bwdesk.com/ringo/wp-content/uploads/2016/01/dummy-1100x678-dark.jpg">
                        <span class="price img-circle">
                            € 10
                        </span>
                        <p>short description</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <h1>Let op responsiveness prijzen werkt niet!!!</h1>
    
</section>