<% var threedeals = data.threedeals %>

<div id="three-deals"></div>
<section class="three-deals">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Three Deals</h2>
                <hr class="intro-divider">
                
                
                
                <div class="flex-container">
                    
                <% for(index in threedeals.deals) { %>
                    <% var deal = threedeals.deals[index]; %>
                    <a href="<%= deal.href %>" class="deal-container">
                        <h3><%= deal.header %></h3>
                        <img class="img-responsive" src="<%= deal.image %>">
                        <div class="deal-price">
                            <%= deal.price %>
                        </div>
                    </a>
                    
                <% } %>
                    
                       
                    
                    
                </div>
                
            </div>
        </div>
    </div>
    
</section>

