<% var whatdowedo = data.whatdowedo; %>
<% var url = data.meta.url; %>

<section class="what-do-we-do" id="what-do-we-do">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading"><%= whatdowedo.title %></h2>
            <p class="section-subheading text-muted lead"><%= whatdowedo.missionStatement %></p>
            <a href="<%= whatdowedo.callToAction.href %>" class="btn btn-primary btn-lg"><%= whatdowedo.callToAction.text %></a>
        </div>
        
        <% include share %>
        
    </div>
</section>