<% include ../functions.ejs %>

<h2 class="collapse-header text-primary">
    <a role="button" class="collapse-anchor btn btn-default" data-toggle="collapse" data-parent="" href="#articles" aria-expanded="true" aria-controls="">
        <i class="fa fa-book"></i> Articles (Interest) <i class="fa fa-caret-down" aria-hidden="true"></i>  
    </a>
</h2>
<div id="articles" class="panel-collapse collapse" role="" aria-labelledby="">
    <p>
        coming soon... <i class="fa fa-smile-o" aria-hidden="true"></i> (alleen aan en uit kunnen zetten op de landingspage)
    </p>
</div>